#cursor,
#cursorFollow {
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    left: -40px;
    top: -40px;
    transition: width 0.2s, height 0.2s, opacity 0.2s, transform 0.2s,
        border-radius 0.2s;
    will-change: width, height, opacity;
    mix-blend-mode: difference;
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
    border: 2px solid transparent;
    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;
        opacity: 0;
        width: 0;
        height: 0;
        transform: scale(0);
        will-change: opacity, width, height, transform;
        transition: width 0.2s, height 0.2s, opacity 0.2s, scale 0.2s,
            border-radius 0.2s;
    }

    &.text {
        width: 2px;
        height: 14px;
        border-width: 1px;
        border-radius: 2px;
        &:before,
        &:after {
            height: 2px;
            width: 8px;
            opacity: 1;
            background-color: #fff;
            transform: scale(1);
            transition-delay: width 0.2s, height 0s;
        }
        &:before {
            top: -1px;
            left: -4px;
        }
        &:after {
            bottom: -1px;
            right: -4px;
        }
    }
    &.eye {
        width: 18px;
        height: 18px;
        border-radius: 75% 15%;
        background-color: transparent;
        border-color: white;
        transform: translate(-50%, -50%) rotate(45deg);
        &:before {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            background-color: #fff;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
    &.hide {
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
    }
}

#cursorFollow {
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    transition: border-radius 0s, border 0.5;
    transform: translate(-50%, -50%);
    &.static {
        border-radius: 0;
        transition: border-radius 0s;
        padding: 4px;
        border-color: var(--colorYellow);
        mix-blend-mode: normal;
        .progress-wrap {
            opacity: 0;
            transition: 0s opacity;
        }
    }
    &.large {
        height: 70px;
        width: 70px;
        opacity: 0;
    }

    .progress-wrap {
        position: absolute;
        inset: 0px;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.3);
        display: block;
        transition: 0.4s opacity;
        border-radius: 50%;
    }
    .progress-wrap svg path {
        fill: none;
    }
    .progress-wrap svg.progress-circle path {
        stroke: var(--titleColor);
        stroke-width: 4;
        box-sizing: border-box;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
    }
}

.btn,
.btn * {
    cursor: pointer;
}

.cursor-focus .progress-wrap {
    opacity: 0;
    pointer-events: none;
}
